# Data & volumes
data/
train/
processed/
*.zip
*.tif
*.npy
*.png
!image_for_eval/*.png
!results/*.png

# Scripts & config
.kaggle/
kaggle.json
checkpoints/*.pt

# Experiment tracking
wandb/

# System & OS
__pycache__/
.pytest_cache/
.DS_Store
Thumbs.db
node_modules/
ink-alchemist-web/dist/

# Temporary
*.log
/tmp/
